In [9]:
import pandas as pd
weather_data = {
     'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
     'temperature': [32, 34, 56, 78, 89, 21 ],
     'windspeed':[3,4,5,6,7,7],
     'event' : ['rain','sunny','snow', 'rain', 'sunny','sunny']      
    
}
df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          3   rain
1  1/2/2017           34          4  sunny
2  1/3/2017           56          5   snow
3  1/4/2017           78          6   rain
4  1/5/2017           89          7  sunny
5  1/6/2017           21          7  sunny

In [10]:
df.shape

(6, 4)

In [11]:
df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [13]:
  df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     51.666667   5.333333
std      27.369082   1.632993
min      21.000000   3.000000
25%      32.500000   4.250000
50%      45.000000   5.500000
75%      72.500000   6.750000
max      89.000000   7.000000

In [15]:
df[df.temperature>=32]

        day  temperature  windspeed  event
0  1/1/2017           32          3   rain
1  1/2/2017           34          4  sunny
2  1/3/2017           56          5   snow
3  1/4/2017           78          6   rain
4  1/5/2017           89          7  sunny